
/* Add your styles here */
/* GENERAL */
body{
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}
img{
	max-width: 100%;
	height: auto;
}
section{
	padding: 45px 0 80px 0;
}
section .heading{
	text-align: center;
}
section .heading h2{text-transform: uppercase;}
.red-divider{
	width: 100px;
	height: 2px;
	background: #d82c2e;
	margin: 0 auto;
}
.white-divider{
	width: 100px;
	height: 2px;
	background: #fff;
	margin: 0 auto;
}
ul,ol{list-style:none; }


/* ABOUT */
#about{
	padding-top: 100px;
	background: #d82c2e;
}
.profile-picture{
	text-align: center;
	margin: 0 auto;
	float: none;
}
#about .heading h1{
	color: #fff;
	text-transform: uppercase;
}
#about .heading h3{
	color: #000;
}
.button1{
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border: 1px solid white;
	display: inline-block;
	margin-top: 20px;
	padding: 18px 50px;
	border-radius: 3px;
	transition: all 0.3s ease-in 0s;
}
.button1:hover{
	background: white;
	color: #d82c2e;
	text-decoration: none;
}

/* SKILLS */
#skills{
	background: #fff;
}
#skills .heading h2{
	color: #d82c2e;
	text-transform: uppercase;
}
#skills .progress{
	height: auto;
	margin: 30px 20px;
	background: #ddd;
}
#skills .progress-bar{
	background: #d82c2e;
	height: auto;
}
#skills .progress h5{
	text-shadow: 1px 1px 1px #000;
}
/*EXPERIENCE*/
#experience{background:#d82c2e; }
#experience .heading h2{color:#fff;}
.timeline {padding: 30px 10px;
position:relative;}

.timeline:before
{
    top: 0;
    bottom:0;
    
    position:absolute;
    content: " ";
    width:5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
   
}
.timeline > li
{
    margin-bottom: 20px;
    position: relative;
    
}
.timeline > li:after{clear: both;}
.timeline > li:before, .timeline > li:after {content: "";
display: table;
}
.timeline li .timeline-badge
{
    color:#d82c2e;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container
{
    width:50%;
    float:left;
}
.timeline-panel-container-inverted{width:50%;
    float:right;}
.timeline-panel
{
    width: 90%;
    float:right;
    margin-right: 40px;
    border: 1pxsolid#d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background: #fff;       
    
}
.timeline-panel-container-inverted .timeline-panel{float: left;
margin-left: 40px;}
.timeline-panel:after
{
position: absolute;
top: 22px;
right: -14px;
display: inline-block;
border-top: 14px solid transparent;
border-left:14px solid #fff;
border-right:0  solid #fff;
border-bottom: 14px  solid transparent;
content:"";}
.timeline-panel-container-inverted .timeline-panel:after{border-left-width: 0;
border-right-width: 14px;
left:-14px;
    right:auto;
}
.timeline-heading h3
{
    margin-top:5Px;
    font-size: 20px;
    color: #d82c2e;
    
}
/*EDUCATION*/
#education
{
    background: #fff;
}
#education .heading h2
{
    color:   #d82c2e;
}
.education-block
 {
        width: :80%;
     margin: 0auto;
     text-align: center;
     padding:30px;
     background:#ddd;
     border-radius: 10px;
     border: 2PX solid #ccc;
     margin-bottom: 20px;
     
 }

.education-block h5{
    
    
    color: #888;
    font-size:15px;
    margin-bottom: 15px;
    
}
.education-block .glyphicon
{
    font-size: 40px
}   
.education-block h3
{ color: #d82c2e;
    
}
.education-block h3
{
    margin-bottom: 70px;
}
.education-block p
{
   font-weight: bold;
}
.education-block .red-divider{margin-bottom: 20px;}

/*PORTFOLIO*/
#portfolio
{background:  #d82c2e;  
}
#portfolio .heading h2 {color: #fff;}
#portfolio .thumbnail img
{
    width: 100%;
    height: 100%;
    filter: grayscale();
    -webkit-filter: grayscale(100%);
    
    
}
#portfolio .thumbnail img:hover
{
   
    filter: none;
    -webkit-filter: none;
    
}
/* QUALITES */

#qualites
{
    background: #fff;
}

#qualites .heading h2
{
    color:#8c8f8e;
}

.carousel-control-prev, .carousel-control-next
{
    background-image: none;
    color: #d82c2e;
}
.carousel-indicators
{
    bottom: -50px;
}
.carousel-indicators li
{
    border-color: #d82c2e;
}
.carousel-indicators li.active
{
    background-color: #d82c2e;
}
#myCarousel .carousel-item
{
    padding: 40px 30px;
}
#myCarousel .carousel-item h3
{
    color: #d82c2e;
    font-style: italic;
}


/*FOOTER*/
footer
{background: #333;
    20px 0 40px 
}
footer .fa fa-chevron-up
{
    font-size: 20px;
    margin: 20px;
    color: #8c8f8e ;
    height: 30px;
}
footer .fa fa-chevron-up:hover
{
    font-size: 120px;
}
footer h5{color: white;
font-weight: normal;}

/*MENU*/


.navbar {
    background-color: #d82c2e;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .nav-link {
    text-align: center;
}

.navbar li a {
    color: white !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #d82c2e !important;
    background-color: white !important;
}

.navbar .navbar-toggler {
    border-style: none;
}

.navbar .navbar-toggler .fas {
    color: white;
    font-size: 24px;
}
